/* style Geral */

* {
  font-family: "Alice", serif;
}
h5 {
  font-size: 14px;
  color: #82a9ab;
}
h1 {
  font-size: 120px;
  font-weight: normal;
  position: relative;
  top: 350px;
  text-align: left;
  margin-left: 100px;
}

/* Nav primaria */

.bg-pro {
  background-color: #a8dadc;
}

/* Navbar */
.bg-user {
  background-color: #1d3557;
}

.nav-link {
  color: #fff;
}
.nav-link:hover {
  color: #a8dadc;
}

.nav-link:active {
  color: #a8dadc;
}

/* Introdução */

.form-user {
  top: 251px;
  margin-left: auto;
  width: 555px;
  height: 58px;
}
#basic-addon1 {
  width: 174px;
  height: 58px;
  color: #ffffff;
  background-color: #e84f5a;
}

.introdution {
  top: 82px;
  left: 0px;
  width: 100%;
  height: 600px;
  background: url(../img/bg-1.png) no-repeat;
  background-size: cover;
}
.introdution h1 {
  color: #fff;
}

/*  seção personalize  */

.blue-surf {
  color: #95c1c3;
}

#person-img {
  width: 672px;
  height: 890px;
  margin-top: 50px;
}

#person-text {
  padding: 8px;
  border-bottom: 1px solid #dbdee0;
}

.icon-bord {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  border-bottom: 1px solid #dbdee0;
  padding: 20px;
  margin-top: 245px;
}

.icon-bord2 {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  border-bottom: 1px solid #dbdee0;
  padding: 17px;
}

.icon-bord3 {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  border-bottom: 1px solid #dbdee0;
  padding: 20px;
}

.ico-1 {
  margin-right: 40px;
}

.ico-2 {
  margin-right: 40px;
}

.text-info2 p {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  padding: 9px;
}

#btn-person {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  width: 900px;
  height: 85px;
  background-color: #1d3557;
  font-size: 36px;
  color: #fff;
  border-radius: 15px;
  border: 0;
  margin-top: 2px;
}

/* Seção Card */

#cite-card {
  width: 100%;
  height: 500px;
  background: url(../img/Group\ 3@2x.png) no-repeat;
  background-size: cover;
  margin-top: 78px;
}

/* footer */

/*Footer*/

.footer {
  width: 100%;
  background: #1d3557;
  color: #fff;
  padding: 20px 0;
}

.footer h3 {
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.footer h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fff;
  margin: 6px 0 12px 0;
}

.footer_nossa {
  padding-right: 60px;
}

.footer_contato ul li {
  font-size: 14px;
  line-height: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.footer_redes ul li {
  display: inline-block;
  margin-right: 10px;
}

.footer_redes ul li a {
  border: 3px solid #fff;
  display: block;
  padding: 10px 10px 10px 10px;
}

.footer_redes ul li a:hover {
  border-color: #013046;
}

.copy {
  width: 100%;
  background: #013046;
  padding: 20px 0;
  color: #fff;
  text-align: center;
}
