/* style Geral */

* {
  font-family: "Alice", serif;
}
h5 {
  font-size: 14px;
  color: #82a9ab;
}
h1 {
  font-size: 120px;
  font-weight: normal;
  position: relative;
  top: 350px;
  text-align: left;
  margin-left: 100px;
}

/* Nav primaria */

.bg-pro {
  background-color: #a8dadc;
}

/* Navbar */
.bg-user {
  background-color: #1d3557;
}

.nav-link {
  color: #fff;
}
.nav-link:hover {
  color: #a8dadc;
}

.nav-link:active {
  color: #a8dadc;
}

/* Introdução */

.form-user {
  top: 251px;
  margin-left: auto;
  width: 555px;
  height: 58px;
}
#basic-addon1 {
  width: 174px;
  height: 58px;
  color: #ffffff;
  background-color: #e84f5a;
}

.introdution {
  top: 82px;
  left: 0px;
  width: 100%;
  height: 600px;
  background: url(../img/bg-1.png) no-repeat;
  background-size: cover;
}
.introdution h1 {
  color: #fff;
}

/*  seção personalize  */

.blue-surf {
  color: #95c1c3;
}

#person-img {
  width: 672px;
  height: 890px;
  margin-top: 50px;
}

#person-text {
  padding: 20px;
  border-bottom: 1px solid #1d3557;
}

.icon-bord {
  margin-top: 5px;
  border-bottom: 1px solid #1d3557;
  padding: 20px 20px 20px 40px;
}

.text-info2 p {
  padding: 40px auto;
}

#btn-person {
  font-size: 36px;
  width: 900px;
  height: 85px;
  color: #1d3557;
  margin-top: 50px;
}
